.promo {
  width: 100%;
  min-width: 1440px;
  
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #454553;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.04em;
  }
  
  p {
    color: #454553;
    font-size: 15px;
    line-height: 20px;
  }
  
  img {
    display: block;
    margin-top: 70px;
    width: 100%;
  }
}

.promo__wrap {
  padding-left: 50px;
}
